.u-section-1 .u-sheet-1 {
  min-height: 1474px;
}

.u-section-1 .u-list-1 {
  margin-bottom: 60px;
  margin-top: 60px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 21px));
  min-height: 1332px;
  grid-auto-columns: calc(50% - 21px);
  grid-gap: 42px;
}

.u-section-1 .u-image-1 {
  background-image: url("images/pexels-photo-2823459.jpeg");
  background-position: 50% 50%;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 10px;
}

.u-section-1 .u-image-2 {
  background-image: url("images/pexels-photo-3916422.jpeg");
  background-position: 50% 50%;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 10px;
}

.u-section-1 .u-image-3 {
  background-image: url("images/pexelsphoto3546131.jpeg");
  background-position: 50% 50%;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 10px;
}

.u-section-1 .u-image-4 {
  background-image: url("images/pexels-photo-1719641.jpeg");
  background-position: 50% 50%;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 10px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1218px;
  }

  .u-section-1 .u-list-1 {
    margin-bottom: -68px;
    margin-top: -68px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 1097px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1178px;
  }

  .u-section-1 .u-list-1 {
    margin-bottom: 40px;
    margin-top: 40px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(100% + 0px);
    grid-template-columns: 100%;
  }

  .u-section-1 .u-image-1 {
    background-position: 50% 23.11%;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-repeater-1 {
    grid-auto-columns: 100%;
  }
}